python-3.10
transformers
datasets
evaluate
opencv-python-headless==4.8.1.78
ray[serve]
accelerate
tensorboardX
nltk
python-multipart

augraphy

streamlit==1.30
streamlit-paste-button

shapely
pyclipper
onnxruntime-gpu
